# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.electron-dist
electron-dist


# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Built app files
public/mac-arm64/
public/mac-x64/
public/*.dmg
public/*.zip
public/*.blockmap
public/latest-mac.yml
public/builder-debug.yml
*.app
*.dmg
*.zip

